.plan {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 102px;

  @include media-max($lg) {
    gap: 32px;
  }

  &-left {
    flex: 1 1 450px;
    max-width: 450px;

    &__heading {
      &-extra {
        font-family: $caveat;

        &-green {
          color: $text-green;
        }

        &-red {
          color: $text-red;
        }
      }
    }

    &__text {
      margin-top: 24px;
    }

    &__bottom {
      margin-top: 24px;
      display: flex;
      align-items: center;
    }

    &__extra-text {
      margin-left: 16px;
      flex-shrink: 0;
    }
  }

  &-right {
    margin-right: 174px;
    position: relative;
    display: flex;

    @include media-max($lg) {
      margin-right: 0;
    }

    &__image {
      width: 414.47px;
      height: auto;

      @include media-max($lg) {
        width: 251.64px;
      }
    }

    &__slider {
      position: absolute;
      bottom: 112px;
      left: 35px;
      overflow: hidden;

      @include media-max($lg) {
        bottom: 65px;
        left: 24px;
      }
    }

    &__image-flame {
      position: absolute;
      top: 230px;
      right: -174px;
      width: 111px;
      height: 179px;

      @include media-max($lg) {
        top: 171px;
        right: -20px;
        width: 67.39px;
        height: 108.68px;
      }
    }
  }
}