---
import Typography from '@/components/shared/ui/Typography/Typography.astro';
import Image from 'astro/components/Image.astro';
import appUiPlanWithFriendsImg from '@/assets/images/main/app-ui-plan-with-friends.png';
import SlideImage1 from '@/assets/images/location-card-1.png';
import SlideImage2 from '@/assets/images/location-card-2.png';
import SlideImage3 from '@/assets/images/location-card-3.png';
import SlideImage4 from '@/assets/images/location-card-4.png';
import SlideImage5 from '@/assets/images/location-card-5.png';
import SlideImage6 from '@/assets/images/location-card-6.png';
import SlideImage7 from '@/assets/images/location-card-7.png';
import SlideImage8 from '@/assets/images/location-card-8.png';
import SlideImage9 from '@/assets/images/location-card-9.png';
import FlameSvg from '@/assets/images/main/flame.svg';
import AppStoreButton from '@/components/shared/ui/AppStoreButton/AppStoreButton.astro';
import Slider from '@/components/shared/ui/Slider/Slider.astro';

import styles from './PlanSection.module.scss';

const slides = [
  SlideImage1,
  SlideImage2,
  SlideImage3,
  SlideImage4,
  SlideImage5,
  SlideImage6,
  SlideImage7,
  SlideImage8,
  SlideImage9,
];
---

<section class={styles.plan}>
  <div class={styles['plan-left']}>
    <div class={styles['plan-left__heading']}>
      <Typography variant="h2"
        >THE APP THAT SAVES <span
          class:list={[styles['plan-left__heading-extra'], styles['plan-left__heading-extra-green']]}
          >FRIENDSHIPS</span
        >
        <span class={styles['plan-left__heading-extra']}> & </span>
        <span class:list={[styles['plan-left__heading-extra'], styles['plan-left__heading-extra-red']]}
          >DATES</span
        >
      </Typography>
    </div>

    <div class={styles['plan-left__text']}>
      <Typography variant="body1">
        Turning 'we should meet up' into 'see you at 8' since forever
      </Typography>
    </div>

    <div class={styles['plan-left__bottom']}>
      <AppStoreButton />
      <div class={styles['plan-left__extra-text']}>
        <Typography variant="extra">Android coming soon</Typography>
      </div>
    </div>
  </div>
  <div class={styles['plan-right']}>
    <div class:list={[styles['plan-left__heading'], styles['plan-left__heading-mobile']]}>
      <Typography variant="h2"
        >THE APP THAT SAVES <span
          class:list={[styles['plan-left__heading-extra'], styles['plan-left__heading-extra-green']]}
          >FRIENDSHIPS</span
        >
        <span class={styles['plan-left__heading-extra']}> & </span>
        <span class:list={[styles['plan-left__heading-extra'], styles['plan-left__heading-extra-red']]}
          >DATES</span
        >
      </Typography>
    </div>
    <div class={styles['plan-right__image-wrapper']}>
      <Image
        class={styles['plan-right__image']}
        src={appUiPlanWithFriendsImg}
        alt="FUSS app interface showing Plan with Friends feature"
        fetchpriority="high"
        loading="eager"
      />

      <div class={styles['plan-right__slider']}>
        <Slider slides={slides} />
      </div>

      <div class={styles['plan-right__image-flame']}>
        <FlameSvg />
      </div>
    </div>
  </div>
</section>
