.plan {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 100px;

  @include media-max($lg) {
    gap: 32px;
  }

  @include media-max($md) {
    margin-top: 32px;
    flex-direction: column;
    gap: 0;
  }

  &-left {
    flex: 1 1 600px;
    max-width: 600px;

    @include media-max($md) {
      margin-top: 24px;
      order: 2;
      flex: 1 1 auto;
    }

    &__heading {
      display: block;
      @include media-max($md) {
        display: none;
        text-align: center;
      }

      &-extra {
        font-family: $caveat;

        &-green {
          color: $text-green;
        }

        &-red {
          color: $text-red;
        }
      }

      &-mobile {
        display: none;
        @include media-max($md) {
          display: block;
        }
      }
    }

    &__text {
      margin-top: 24px;

      @include media-max($md) {
        margin-top: 0;
        text-align: center;
        max-width: 295px;
      }
    }

    &__bottom {
      margin-top: 24px;
      display: flex;
      align-items: center;
      gap: 16px;

      @include media-max($md) {
        flex-direction: column;
      }
    }

    &__extra-text {
      flex-shrink: 0;
    }
  }

  &-right {
    margin-right: 130px;
    display: flex;

    @include media-max($md) {
      order: 1;
      flex-direction: column;
    }

    @include media-max($lg) {
      margin-right: 0;
    }

    &__image {
      width: 310px;
      height: auto;

      @include media-max($lg) {
        width: 260px;
      }

      @include media-max($md) {
        width: 197px;
      }

      &-wrapper {
        position: relative;
        display: inline-flex;

        @include media-max($md) {
          margin-top: 24px;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    &__slider {
      position: absolute;
      bottom: 84px;
      left: 28px;
      overflow: hidden;

      @include media-max($lg) {
        bottom: 65px;
        left: 23px;
      }

      @include media-max($md) {
        bottom: 52px;
        left: 17px;
      }
    }

    &__image-flame {
      position: absolute;
      top: 170px;
      right: -130px;
      width: 82.74px;
      height: 133.42px;

      @include media-max($lg) {
        top: 165px;
        right: -40px;
        width: 60.36px;
        height: 97.33px;
      }

      @include media-max($md) {
        right: -72px;
        top: 0;
      }
    }
  }
}