.hero {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;

  @include media-max($lg) {
    gap: 32px;
  }

  @include media-max($md) {
    margin-top: 32px;
    flex-direction: column;
    gap: 24px;
  }

  &__left {
    max-width: 764px;
    @include media-max($md) {
      order: 2;
    }

    &-title {
      @include media-max($md) {
        text-align: center;
        font-size: rem($fs-40);
        line-height: 1.2;

        span {
          position: relative;
          display: inline-flex;

          &::before {
            content: '';
            position: absolute;
            bottom: -24px;
            right: 0;
            width: 191px;
            height: 26px;
            background-color: $icon-red;
            -webkit-mask-image: var(--underline-icon-url);
            mask-image: var(--underline-icon-url);
            -webkit-mask-size: contain;
            mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            mask-repeat: no-repeat;
          }
        }
      }
    }
  }

  &__right {
    display: inline-flex;
    max-width: 310px;
    min-width: 310px;

    @include media-max($lg) {
      min-width: 260px;
    }

    @include media-max($md) {
      order: 1;
      max-width: 197px;
      min-width: auto;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }

  &__text {
    margin-top: 24px;
  }

  &__apps {
    margin-top: 44px;
    display: flex;
    align-items: center;
    gap: 16px;

    @include media-max($md) {
      margin-top: 24px;
      flex-direction: column;
    }
  }
}