//Todo: remove all comments after all color variables are defined

// bg
$bg-primary: #1E1E1E;

// text
$text-primary: #E7E9E7;
$text-secondary: #1E1E1E;
$text-green: #BEFF7D;
$text-red: #FF6160;

// icons
$icon-red: #FF6160;
$icon-green: #BEFF7D;
$icon-graphite: #1E1E1E;

// buttons
$button-primary-default: #BEFF7D;
//$button-primary-hover: #f8f7a5;
//$button-primary-clicked: #f2f059;
//$button-primary-disabled: #f5f37866;

$button-secondary-default: #E7E9E7;


//border
$border-default: #E7E9E7;
$border-divider: rgba(231, 233, 231, 0.2);

//extra
$extra-border: #ffffff38;

// Convert to css variables
:root {
  // bg
  --bg-primary: #{$bg-primary};

  // text
  --text-primary: #{$text-primary};
  --text-secondary: #{$text-secondary};
  --text-green: #{$text-green};
  --text-red: #{$text-red};

  // icons
  --icon-red: #{$icon-red};
  --icon-green: #{$icon-green};
  --icon-graphite: #{$icon-graphite};

  // buttons
  --button-primary-default: #{$button-primary-default};
  --button-secondary-default: #{$button-secondary-default};

  //border
  --border-default: #{$border-default};
  --border-divider: #{$border-divider};

  //extra
  --extra-border: #{$extra-border};
}

