---
import Image from 'astro/components/Image.astro';
import mockupFriendsImg from '@/assets/images/tell-me-more/mockup-friends-choosing.png';
import WhiteLikeBtnIcon from '@/assets/icons/white-like-btn.svg';
import RedLikeBtnIcon from '@/assets/icons/red-like-btn.svg';
import VotingBtnIcon from '@/assets/icons/voting-btn.svg';
import Typography from '../shared/ui/Typography/Typography.astro';
---

<style lang="scss">
  .mockup {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
    max-width: calc(915px + 64px);

    &__icons {
      position: absolute;
      transform: rotate(-10deg);
    }

    &__white-like-btn {
      top: 138px;
      right: 52px;
      display: inline-flex;
      width: 158.97px;
      height: 40.16px;
    }

    &__red-like-btn {
      top: 320px;
      right: -20px;
      display: inline-flex;
      width: 158.97px;
      height: 40.16px;
    }

    &__voting-btn {
      bottom: 45px;
      left: 40px;
      width: 407px;
    }

    .mockup__left {
      position: relative;
      max-width: 396px;
    }

    .mockup__right {
      max-width: 519px;
      text-align: center;

      &-heading {
      }

      &-text {
        margin-top: 32px;
      }
    }
  }
</style>

<section class="mockup">
  <div class="mockup__left">
    <WhiteLikeBtnIcon class="mockup__icons mockup__white-like-btn" />
    <RedLikeBtnIcon class="mockup__icons mockup__red-like-btn" />
    <VotingBtnIcon class="mockup__icons mockup__voting-btn" />

    <Image
      src={mockupFriendsImg}
      alt="friends choosing a spot in London using the FUSS app"
      fetchpriority="high"
    />
  </div>

  <div class="mockup__right">
    <div class="mockup__right-heading">
      <Typography variant="h3">Takes the pressure off</Typography>
    </div>
    <div class="mockup__right-text">
      <Typography variant="body2"
        >No more decision paralysis. No more back-and-forths. Just pick a few options, send the link, and
        show up
      </Typography>
    </div>
  </div>
</section>
