.button {
  margin: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: max-content;
  height: min-content;

  -webkit-tap-highlight-color: transparent;
  background: transparent;
  outline: 0;
  border: 0;
  border-radius: 8px;

  text-decoration: none;
  font-weight: 700;
  user-select: none;
  cursor: pointer;
  @include transition();

  // --- Sizes ---
  &.small {
    padding: 16px 18px;
    font-size: rem($fs-20);
    line-height: 1.2;
  }

  &.medium {
    padding: 16px 24px;
    font-size: rem($fs-17);
    line-height: 1.41;
  }

  &.large {
    padding: 20px 52px;
    font-size: rem($fs-24);
    line-height: 1;

    @include media-max($md) {
      padding: 18px 34px;
      font-size: rem($fs-20);
      line-height: 1;
    }
  }

  //Todo: add hovers & other states

  // --- Variants ---
  &.text {

    //&:hover {
    //  background-color: rgba(190, 255, 125, 0.08); // Fallback, ideally use CSS var
    //}
  }

  &.contained {
    background: $button-primary-default;

    &:hover {
      background: $button-primary-hover;
    }

    &:active {
      background: $button-primary-active;
    }

    &:disabled {
      background: $button-primary-disabled;
    }
  }

  &.outlined {
    border: 1px solid $button-primary-default;

    &:hover {
      color: $button-primary-hover;
    }

    &:active {
      color: $button-primary-active;
    }

    &:disabled {
      color: $button-primary-disabled;
    }
  }

  // --- Colors ---

  &.primary {
    color: $text-secondary;
  }

  &.secondary {
    color: $text-green;
  }
}
