---
import Typography from '@/components/shared/ui/Typography/Typography.astro';
import Button from '@/components/shared/ui/Button/Button.astro';
---

<style lang="scss">
  .hero {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      &-extra {
        font-family: 'Caveat', cursive;
        color: var(--text-green);
      }
    }

    &__text {
      margin-top: 24px;
    }

    &__btn {
      margin-top: 24px;
    }

    &__extra-text {
      margin-top: 8px;
    }
  }
</style>

<section class="hero">
  <div class="hero__title">
    <Typography variant="h1">MEET IN <span class="hero__title-extra">REAL</span> LIFE</Typography>
  </div>

  <div class="hero__text">
    <Typography variant="body3">Simple and easy way to find a job in real life</Typography>
  </div>

  <div class="hero__btn">
    <Button variant="contained" size="large">Download</Button>
  </div>

  <div class="hero__extra-text">
    <Typography variant="extra">Android coming soon</Typography>
  </div>
</section>
