---
import Typography from '@/components/shared/ui/Typography/Typography.astro';
import Image from 'astro/components/Image.astro';
import appUiPlanWithFriendsImg from '@/assets/images/main/app-ui-plan-with-friends.png';
import SlideImage1 from '@/assets/images/main/slider/slide-1.png';
import SlideImage2 from '@/assets/images/main/slider/slide-2.png';
import SlideImage3 from '@/assets/images/main/slider/slide-3.png';
import SlideImage4 from '@/assets/images/main/slider/slide-4.png';
import SlideImage5 from '@/assets/images/main/slider/slide-5.png';
import SlideImage6 from '@/assets/images/main/slider/slide-6.png';
import SlideImage7 from '@/assets/images/main/slider/slide-7.png';
import SlideImage8 from '@/assets/images/main/slider/slide-8.png';
import SlideImage9 from '@/assets/images/main/slider/slide-9.png';

import FlameSvg from '@/assets/images/main/flame.svg';
import AppStoreButton from '@/components/shared/ui/AppStoreButton/AppStoreButton.astro';
---

<style lang="scss">
  .plan {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 102px;

    &-left {
      flex: 1 1 450px;
      max-width: 450px;

      &__heading {
        &-extra {
          font-family: 'Caveat', cursive;

          &-green {
            color: var(--text-green);
          }

          &-red {
            color: var(--text-red);
          }
        }
      }

      &__text {
        margin-top: 24px;
      }

      &__bottom {
        margin-top: 24px;
        display: flex;
        align-items: center;
      }

      &__extra-text {
        margin-left: 16px;
        flex-shrink: 0;
      }
    }

    &-right {
      position: relative;
      display: flex;
      flex: 1 1 auto;

      &__image {
        width: 100%;
        max-width: 100%;
        height: auto;
        flex-shrink: 1;
      }

      &__slider {
        position: absolute;
        bottom: 112px;
        left: 35px;
      }

      &__image-flame {
        margin-left: 63px;
        position: relative;
        top: 300px;
        min-width: 111px;
      }
    }
  }
</style>

<style lang="scss">
  .slider {
    display: flex;
    gap: 21px;

    &__item {
    }
  }
</style>

<section class="plan">
  <div class="plan-left">
    <div class="plan-left__heading">
      <Typography variant="h2"
        >THE APP THAT SAVES <span class="plan-left__heading-extra plan-left__heading-extra-green"
          >FRIENDSHIPS</span
        >
        <span class="plan-left__heading-extra"> & </span>
        <span class="plan-left__heading-extra plan-left__heading-extra-red">DATES</span>
      </Typography>
    </div>

    <div class="plan-left__text">
      <Typography variant="body1">
        Turning 'we should meet up' into 'see you at 8' since forever
      </Typography>
    </div>

    <div class="plan-left__bottom">
      <AppStoreButton />
      <div class="plan-left__extra-text">
        <Typography variant="extra">Android coming soon</Typography>
      </div>
    </div>
  </div>
  <div class="plan-right">
    <Image
      class="plan-right__image"
      src={appUiPlanWithFriendsImg}
      alt="FUSS app interface showing Plan with Friends feature"
    />
    <div class="plan-right__slider">
      <div class="slider">
        <div class="slider__item">
          <Image src={SlideImage1} alt="slide 1 image" />
        </div>
        <div class="slider__item">
          <Image src={SlideImage1} alt="slide 1 image" />
        </div>
        <div class="slider__item">
          <Image src={SlideImage1} alt="slide 1 image" />
        </div>
      </div>
    </div>

    <div class="plan-right__image-flame">
      <FlameSvg width={111} height={179} />
    </div>
  </div>
</section>
