---
import FussLogo from '@/assets/images/logo.svg';
import Button from '@/components/shared/ui/Button/Button.astro';
import styles from './Header.module.scss';
---

<header class={styles.header}>
  <a class="link" href="/public">
    <FussLogo width={92} />
  </a>

  <Button variant="contained" size="large">Download</Button>
</header>
