---
import FussLogo from '@/assets/images/logo.svg';
import Button from '@/components/shared/ui/Button/Button.astro';
import { URLS } from '@/constants';
import styles from './Header.module.scss';
---

<header class={styles.header}>
  <a class="link" href="/">
    <FussLogo width={92} />
  </a>

  <Button href={URLS.appStore} variant="contained" size="large">Download</Button>
</header>
