---
import Image from 'astro/components/Image.astro';
import funPrimaryImg1 from '@/assets/images/tell-me-more/fun-primary-1.jpg';
import funPrimaryImg2 from '@/assets/images/tell-me-more/fun-primary-2.jpg';
import funPrimaryImg3 from '@/assets/images/tell-me-more/fun-primary-3.jpg';
import funPrimaryImg4 from '@/assets/images/tell-me-more/fun-primary-4.jpg';
import funPrimaryImg5 from '@/assets/images/tell-me-more/fun-primary-5.jpg';
import funSecondaryImg1 from '@/assets/images/tell-me-more/fun-secondary-1.jpg';
import funSecondaryImg2 from '@/assets/images/tell-me-more/fun-secondary-2.jpg';
import funSecondaryImg3 from '@/assets/images/tell-me-more/fun-secondary-3.jpg';
import funSecondaryImg4 from '@/assets/images/tell-me-more/fun-secondary-4.jpg';
import funSecondaryImg5 from '@/assets/images/tell-me-more/fun-secondary-5.jpg';

const funImages1 = [funPrimaryImg1, funPrimaryImg2, funPrimaryImg3, funPrimaryImg4, funPrimaryImg5];
const funImages2 = [
  funSecondaryImg1,
  funSecondaryImg2,
  funSecondaryImg3,
  funSecondaryImg4,
  funSecondaryImg5,
];
---

<style lang="scss">
  .fun {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 100px 0;
    max-width: 1440px;
    overflow: hidden;

    &__images {
      display: flex;
      justify-content: space-between;
    }

    &__image {
      display: inline-flex;
      flex: 1 1 20%;
      max-width: 20%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__image1 {
      transform: rotate(-15deg);
    }

    &__image2 {
      transform: translateY(15%);
    }

    &__image3 {
      transform: rotate(9deg) translateY(-10%);
    }

    &__image4 {
      transform: rotate(-24deg) translateY(15%);
    }

    &__image5 {
      transform: rotate(13deg);
    }
  }

  .fun-image-swap {
    transition: opacity 0.1s ease-in-out;
  }
</style>

<section class="fun">
  <div class="fun__images">
    {
      funImages1.map((image, index) => (
        <div class="fun__image">
          <Image
            src={image}
            class:list={[`fun__image${index + 1}`, 'fun-image-swap']}
            alt="friends having fun in the app"
            fetchpriority="auto"
          />
        </div>
      ))
    }
  </div>
</section>

<script define:vars={{ funImages2 }}>
  const section = document.querySelector('.fun__images');
  const images = document.querySelectorAll('.fun-image-swap');

  if (section) {
    const observer = new IntersectionObserver(
      async (entries) => {
        for (const entry of entries) {
          if (entry.isIntersecting) {
            let currentIndex = 0;

            // Helper function for delay
            const delay = (ms) => new Promise((resolve) => setTimeout(resolve, ms));

            while (currentIndex < images.length && currentIndex < funImages2.length) {
              const image = images[currentIndex];
              if (image && funImages2[currentIndex]) {
                image.style.opacity = '0';
                await delay(100); // Wait for fade-out animation
                image.src = funImages2[currentIndex].src;
                image.style.opacity = '1';
                currentIndex++; // Increment after animation completes
                await delay(100); // Additional pause between images
              } else {
                break; // Exit loop if elements are unavailable
              }
            }

            observer.unobserve(entry.target); // Animate only once
          }
        }
      },
      { threshold: 0.5 },
    );

    observer.observe(section);
  }
</script>
