---
import Typography from '@/components/shared/ui/Typography/Typography.astro';
import styles from './MissionSection.module.scss';
import Button from '@/components/shared/ui/Button/Button.astro';
---

<section class={styles.mission}>
  <Typography variant="h2" class={styles.mission__title}
    >Real connection doesn’t live in the group chat.
  </Typography>
  <div class={styles.mission__text}>
    <Typography variant="body1"
      >It lives at the table, on the dancefloor, in that “remember this night” moment.
      <br />FUSS exists to make those happen — more often, and with less stress
    </Typography>
  </div>
  <div class={styles.mission__btn}>
    <Button variant="contained" size="large">Download</Button>
  </div>
</section>
