.mission {
  margin-top: 150px;
  text-align: center;

  @include media-max($md) {
    margin-top: 100px;
  }

  &__title {
    @include media-max($md) {
      font-size: rem($fs-40);
    }
  }

  &__text {
    margin-top: 24px;
  }

  &__btn {
    margin-top: 32px;
  }
}