---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/shared/layout/Header/Header.astro';
import HeroSection from '@/components/main-page/HeroSection';
import PlanSection from '@/components/main-page/PlanSection';
import Footer from '@/components/shared/layout/Footer/Footer.astro';
import BottomSection from '@/components/main-page/BottomSection/BottomSection.astro';
---

<style lang="scss">
  .wrapper {
    margin: 0 auto;
    max-width: 1440px;
    overflow: hidden;
  }
</style>

<Layout>
  <div class="wrapper">
    <div class="container">
      <Header />

      <main>
        <HeroSection />
        <PlanSection />
        <BottomSection />
      </main>

      <!--<Footer />-->
    </div>
  </div>
</Layout>
