---
import Layout from '@/layouts/Layout.astro';
import Header from '../components/layout/Header/Header.astro';
import HeroSection from '../components/main-page/HeroSection.astro';
import PlanSection from '../components/main-page/PlanSection.astro';
import Typography from '../components/shared/Typography/Typography.astro';
import Button from '../components/shared/Button/Button.astro';
import Footer from '../components/layout/Footer/Footer.astro';
---

<style lang="scss">
  .bottom-section {
    margin-top: 100px;

    &__text {
      text-align: center;
    }

    &__btn {
      margin-top: 32px;
      display: flex;
      justify-content: center;
    }
  }
</style>

<Layout>
  <Header />

  <main>
    <HeroSection />
    <PlanSection />

    <section class="bottom-section">
      <div class="bottom-section__text">
        <Typography variant="heavy"
          >Create your list, invite your crew, vote together, and lock in a spot you'll all love
        </Typography>
      </div>

      <div class="bottom-section__btn">
        <Button variant="contained" size="large">Download</Button>
      </div>
    </section>
  </main>

  <Footer />
</Layout>
