---
import Layout from '@/layouts/Layout.astro';
import Header from '../components/layout/Header/Header.astro';
import HeroSection from '../components/main-page/HeroSection.astro';
---

<Layout>
  <Header />

  <main>
    <div class="container">
      <main>
        <HeroSection />

        <section></section>
      </main>
    </div>
  </main>
</Layout>
