---
import Header from '@/components/shared/layout/Header/Header.astro';
import Layout from '@/layouts/Layout.astro';
import HeroSection from '@/components/tell-me-more-page/HeroSection.astro';
import Footer from '@/components/shared/layout/Footer/Footer.astro';
import AboutSection from '@/components/tell-me-more-page/AboutSection.astro';
import MockupSection from '@/components/tell-me-more-page/MockupSection/MockupSection.astro';
import VibesSection from '@/components/tell-me-more-page/VibesSection/VibesSection.astro';
import LocationsSection from '@/components/tell-me-more-page/LocationsSection/LocationsSection.astro';
---

<Layout>
  <Header />

  <main>
    <HeroSection />
    <AboutSection />
    <MockupSection />
    <VibesSection />
    <LocationsSection />
  </main>

  <Footer />
</Layout>
