---
import Header from '../components/layout/Header/Header.astro';
import Layout from '../layouts/Layout.astro';
import HeroSection from '../components/tell-me-more-page/HeroSection.astro';
import Footer from '../components/layout/Footer/Footer.astro';
import AboutSection from '../components/tell-me-more-page/AboutSection.astro';
---

<Layout>
  <Header />

  <main>
    <HeroSection />
    <AboutSection />
  </main>

  <Footer />
</Layout>
