---
import Header from '@/components/shared/layout/Header/Header.astro';
import Layout from '@/layouts/Layout.astro';
import HeroSection from '@/components/tell-me-more-page/HeroSection.astro';
import Footer from '@/components/shared/layout/Footer/Footer.astro';
import AboutSection from '@/components/tell-me-more-page/AboutSection.astro';
import MockupSection from '@/components/tell-me-more-page/MockupSection/MockupSection.astro';
import VibesSection from '@/components/tell-me-more-page/VibesSection/VibesSection.astro';
import LocationsSection from '@/components/tell-me-more-page/LocationsSection/LocationsSection.astro';
import FunSection from '@/components/tell-me-more-page/FunSection/FunSection.astro';
import MissionSection from '@/components/tell-me-more-page/MissionSection/MissionSection.astro';
---

<Layout>
  <div class="container">
    <Header />
  </div>

  <main>
    <div class="container">
      <HeroSection />
      <AboutSection />
      <MockupSection />
      <VibesSection />
      <LocationsSection />
    </div>

    <FunSection />
    
    <div class="container">
      <MissionSection />
    </div>
  </main>

  <div class="container">
    <Footer />
  </div>
</Layout>
