.mockup {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  max-width: calc(915px + 64px);

  @include media-max($lg) {
    margin-top: 112px;
    gap: 32px;
  }

  @include media-max($md) {
    flex-direction: column;
  }


  .mockup__left {
    display: inline-flex;
    max-width: 452px;

    @include media-max($lg) {
      min-width: 310px;
    }

    @include media-max($md) {
      max-width: 223px;
    }


    img {
      max-width: 100%;
      height: auto;
      transform: rotate(-10deg);

      @include media-max($md) {
        transform: rotate(0);
      }
    }

    &-circle {
    }
  }

  .mockup__right {
    max-width: 519px;
    text-align: center;

    &-heading {
      position: relative;
    }

    &-text {
      margin-top: 32px;

      @include media-max($md) {
        margin-top: 16px;
      }
    }


    &-title {
      span {
        position: relative;
        display: inline-flex;

        &::before {
          content: '';
          position: absolute;
          top: -27px;
          right: -38px;
          z-index: -1;
          width: 279.5px;
          height: 100.22px;
          background-color: $icon-red;
          mask-image: var(--circleIcon2);
          mask-size: contain;
          mask-repeat: no-repeat;

          @include media-max($md) {
            top: -7px;
            right: -20px;
            width: 223px;
            height: 58px;
            mask-image: var(--circleIcon4);
          }
        }
      }
    }
  }
}