.mockup {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
  padding-bottom: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;
  max-width: calc(915px + 64px);

  .mockup__left {
    max-width: 396px;

    &-circle {
    }
  }

  .mockup__right {
    max-width: 519px;
    text-align: center;

    &-heading {
      position: relative;
    }

    &-text {
      margin-top: 32px;
    }


    &-title {
      span {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: -27px;
          right: -38px;
          z-index: -1;
          width: 279.5px;
          height: 100.22px;
          background-color: $icon-red;
          mask-image: var(--circle-icon-url);
          mask-size: contain;
          mask-repeat: no-repeat;
        }
      }
    }
  }
}