---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
import fussLogo from '../assets/images/logo.svg';
import inRealLifeTextImg from '../assets/images/meet-in-real-life.svg';
---

<div id="container" style={{margin: '0 auto', maxWidth: '1140px'}}>
	<!--<img id="background" src={background.src} alt="" fetchpriority="high" />-->
	<header style={{padding: '28px 0', display: 'flex', justifyContent: 'space-between', alignItems: 'center'}}>
		<a href="/">
			<img src={fussLogo.src} alt="Fuss Logo" />
		</a>

		<button style={{padding: '18px 20px', fontSize: '24px', background: '#BEFF7D', borderRadius: '8px'}}>
			Download
		</button>
	</header>
	<main>
		<section id="hero">
			<div style={{display:'flex', marginTop: '150px', textAlign: 'center'}}>
				<img src={inRealLifeTextImg.src} alt="Meet in Real Life">
			</div>
		</section>
	</main>
</div>
