.footer {
  margin-top: 100px;
  padding-top: 64px;
  padding-bottom: 50px;

  @include media-max($md) {
    margin-top: 50px;
    padding-top: 50px;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @include media-max($md) {
      flex-direction: column;
      gap: 24px;
    }
  }

  &__left {
    @include media-max($md) {
      text-align: center;
    }

    &-links {
      margin-top: 32px;
      display: flex;
      gap: 32px;

      @include media-max($md) {
        margin-top: 24px;
        flex-direction: column;
        align-items: center;
        gap: 24px;
      }
    }
  }

  &__right {
    display: flex;
    justify-content: space-between;
    height: fit-content;
    gap: 32px;

    @include media-max($md) {
      gap: 8px;
    }
  }

  &__bottom {
    margin-top: 64px;
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
    border-top: 1px solid var(--border-divider);

    @include media-max($md) {
      margin-top: 32px;
    }
  }
}

.footerTellMeMoreBtn {
  @include media-max($md) {
    width: 100%;
    max-width: 158px;
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}