.isFor {
  margin-top: 150px;
  padding-bottom: 50px;

  &__title {
    display: flex;
    justify-content: center;
    gap: 16px;
    text-transform: uppercase;
  }

  &__items {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
  }

  &__item {
    padding: 50px 32px;
    flex: 1 1 calc(50% - 32px * 2);
    text-align: center;
    border: 1px solid $border-default;
    border-radius: $border-radius-default;

    &-title {

    }

    &-text {
      margin-top: 20px;
    }
  }

  &__text {
    margin-top: 50px;
    text-align: center;
  }

  &__btn {
    margin-top: 50px;
    text-align: center;
  }
}