.isFor {
  margin-top: 300px;
  padding-bottom: 50px;

  @include media-max($md) {
    margin-top: 200px;
    padding-bottom: 0;
  }

  &__logo {
    max-width: 164px;
    @include media-max($md) {
      max-width: 118px;
    }
  }

  &__title {
    display: flex;
    justify-content: center;
    gap: 16px;
    text-transform: uppercase;
  }

  &__items {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 32px;
  }

  &__item {
    padding: 50px 32px;
    flex: 1 1 calc(50% - 32px * 2);
    text-align: center;
    border: 1px solid $border-default;
    border-radius: $border-radius-default;

    @include media-max($md) {
      padding: 16px 24px;
      flex: 1 1 100%;
    }

    &-title {
      * {
        font-size: rem($fs-48);
      }
    }

    &-text {
      margin-top: 20px;

      * {
        font-size: rem($fs-24);
      }
    }
  }

  &__text {
    margin-top: 50px;
    text-align: center;

    @include media-max($md) {
      margin-top: 32px;
    }
  }

  &__btn {
    margin-top: 50px;
    text-align: center;

    @include media-max($md) {
      margin-top: 32px;
    }
  }
}