---
import AppStoreBadgeIcon from '@/assets/icons/app-store-badge.svg';
import AppStoreBadgeSmallIcon from '@/assets/icons/app-store-badge-small.svg';

import styles from './AppStoreButton.module.scss';

interface Props {
  isSmall?: boolean;
}

const { isSmall } = Astro.props;
---

<a href="/">
  {isSmall ? <AppStoreBadgeSmallIcon /> : <AppStoreBadgeIcon />}
</a>
