.vibes {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;

  @include media-max($lg) {
    gap: 32px;
  }

  @include media-max($md) {
    margin-top: 112px;
    flex-direction: column;
    gap: 16px;
  }

  &__left {
    max-width: 581px;
    text-align: center;

    @include media-max($md) {
      order: 2;
    }

    &-heading {
      span {
        position: relative;
        display: inline-flex;

        &::before {
          content: '';
          position: absolute;
          bottom: -42px;
          right: -14px;
          width: 212.61px;
          height: 47.5px;
          background-color: $icon-red;
          mask-image: var(--underline-icon-url);
          mask-size: contain;
          mask-repeat: no-repeat;

          @include media-max($md) {
            bottom: -30px;
            right: 0;
            width: 137.68px;
            height: 30.76px;
          }
        }
      }
    }

    &-text {
      margin-top: 32px;

      @include media-max($md) {
        margin-top: 16px;
      }
    }
  }

  &__right {
    display: inline-flex;
    max-width: 495.32px;
    min-width: 405px;

    @include media-max($lg) {
      min-width: 360px;
    }
    @include media-max($md) {
      order: 1;
      max-width: 361px;
      min-width: auto;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}