.vibes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 64px;

  &__left {
    max-width: 581px;
    text-align: center;

    &-heading {
      span {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          bottom: -42px;
          right: -14px;
          width: 212.61px;
          height: 47.5px;
          background-color: $icon-red;
          mask-image: var(--underline-icon-url);
          mask-size: contain;
          mask-repeat: no-repeat;
        }
      }
    }

    &-text {
      margin-top: 32px;
    }
  }

  &__right {
    img {
      max-width: 100%;
    }
  }
}