@use "../services.scss" as *;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 1rem = 10px
}

html,
body {
  height: 100%;
  width: 100%;
}

html,
body,
main {
  ::-webkit-scrollbar {
    width: 0.4rem;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 0.5rem;
    background-color: $extra-border;
    backdrop-filter: blur(24px);
  }

  ::-webkit-scrollbar-track {
    border-radius: 1rem;
    background-color: transparent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

body {
  font-family: $manrope;
  font-size: rem($fs-base);
  font-weight: 400;
  background: $bg-primary;
}


.container {
  margin: 0 auto;
  padding: 0 $desktopGutter;
  width: $desktopWidth + $desktopGutter * 2;
  max-width: 100%;

  @include media-max($md) {
    padding: 0 $tabletGutter;
  }

  @include media-max($sm) {
    padding: 0 $mobileGutter;
  }
}
