---
import CookiePopUp from '@/components/shared/ui/CookiePopUp/CookiePopUp.astro';
import '@/assets/styles/index.scss';

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="FUSS" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta
      name="description"
      content="FUSS helps you pick the perfect spot in London for dates or group meetups. Create your list, vote with friends, and lock in a plan that happens."
    />
    <meta property="og:title" content="Plan real-life meetups in London with FUSS" />
    <meta
      property="og:description"
      content="Tired of plans dying in the group chat? FUSS makes it easy to choose a spot everyone loves – fast."
    />
    <!--ToDo: change url to https://fuss.app after prod deploy-->
    <meta property="og:image" content="https://fuss-front.netlify.app/assets/og-image.svg" />
    <meta property="og:url" content="https://fuss.app" />
    <meta property="og:type" content="website" />

    <title>{title}</title>
  </head>
  <body>
    <slot />
    <CookiePopUp />
  </body>
</html>
